##############################
# OS Files
##############################

.DS_Store
Thumbs.db

##############################
# Logs
##############################

logs/
*.log

npm-debug.log*

##############################
# Node
##############################

node_modules/

dist/

coverage/

.env

.env.*

!.env.example

##############################
# React
##############################

frontend/node_modules/

frontend/dist/

##############################
# .NET
##############################

backend/bin/

backend/obj/

backend/.vs/

*.user

*.suo

*.cache

##############################
# Rider

.idea/

##############################
# VSCode

.vscode/settings.json

##############################
# SQL

*.mdf

*.ldf

##############################
# Misc

*.tmp

*.bak
